html, body {
  color: red;
  font-weight: 300;
  text-transform: uppercase; }

.div--main-title {
  font-size: 0.9em;
  font-weight: bold; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.col-1-2 {
  width: 50%;
  float: left; }

.col-1-1 {
  width: 100%;
  float: left; }

.col-1-3 {
  float: left;
  width: 33%; }
