    <ons-modal var='myModal' id='myModal'>

        <div class='champ-modal-popup'>
            <ons-icon icon="ion-close-round champ-icon" id='close-champ-modal'></ons-icon>
            <div class="champ-toolbar">
                <div class="center">Select a championship</div>
            </div>
            <ul id='select-champ' class='champ-filter'> 
                <li data-champ='junior' ng-click='changeChamp()'> 
                    <img src='assets/img/logos/junior-logo.svg' alt='Junior Logo'/> 
                </li>
                <li data-champ='challenge' ng-click='changeChamp()'> 
                    <img src='assets/img/logos/challenge-logo.svg' alt='Junior Logo'/> 
                </li>
                <li data-champ='supercup' ng-click='changeChamp()'>
                    <img src='assets/img/logos/supercup-logo.svg' alt='Junior Logo'/> 
                </li>
                <li data-champ='grdc' ng-click='changeChamp()'>
                    <img src='assets/img/logos/grdc-logo.svg' alt='Junior Logo'/> 
                </li>
                <li data-champ='grdcplus' ng-click='changeChamp()'> 
                    <img src='assets/img/logos/grdcplus.svg' alt='Junior Logo'/> 
                </li>
            </ul>
        </div>
    </ons-modal>